body {
	background-color: #dadada;
} 	
#content {
	background-color: white;
}
#header {
	background-color: lightblue;
	color: white;
	font-size: large;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;

}