body {
	background-color: #dadada;
} 
a{	
	text-decoration: none;
	color:#610000;
}
#header {
	background-color: lightblue;
	color: rgb(0, 0, 0);
	font-size: 32pt;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}	
#content {
	background-color: #ffffff;
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	float: center;
}
#nav {
	text-align: right;
	font-size: 25pt;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: black;
	width: 180px;
}
#nav .selected {
	font-weight: bold;
}
#content {
	padding: 10px;
	background-color: white;
}
#nav ul {
	align-content: center;
	float: inline-end;
}
#footer {	
	clear: both;
}
#Canvas {	
	border: 2px dashed black;
	align-content: center;
}
h1{	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25pt;
	text-align: center;
	border-style: solid;
}
a {	
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
}
p{
	font-size: 20pt;
	font-family:'Times New Roman', Times, serif ;
	padding: 20px;
	border: 1px royalblue;
}