body {
	background-color: #dadada;
} 
a{	
	text-decoration: none;
	color: red;
}
#header {
	background-color: lightblue;
	color: rgb(0, 0, 0);
	font-size: 32pt;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}	
#content {
	background-color: #ffffff;
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	float: Left;
	padding: 10px;
}
#nav {
	text-align: right;
	font-size: 25pt;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: black;
	width: 180px;
	float: left;
	clear: both;
}
#nav .selected {
	font-weight: bold;
}
#content {
	padding: 10px;
}
#nav ul {
	align-content: left;
}